* {
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.logo {
    width: 120px;
    height: 48px;
    margin-top: 40px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.textarea {
    height: 85%;
}

.input {
    margin-top: 168px;
    border: none;
    color: #0A3871;
    padding: 2px;
    resize: none;
    outline: none;
    width: 100%;
}

.input::placeholder {
    color: #0A3871;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info h6 {
    color: #495057;
}

.buttons {
    height: 10%;
    display: flex;
    float: bottom;
    gap: 24px;
    align-items: center;
}

.btn-encrypt {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 50%;
}

.btn-decrypt {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 50%;
}

.output-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 120px);
    border: none;
    border-radius: 32px;
    background-color: white;
    background-image: url("./src/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 50% 45%;
    padding: 40px 40px 20px 40px;
    margin: 40px 40px 40px 80px;
}

.output {
    width: 100%;
    height: 85%;
    border: none;
    color: #0A3871;
    padding: 20px;
    background: none;
    resize: none;
    outline: none;
}

.output::placeholder {
    color: black;
    font-family: Inter;
    font-weight: 700;
    text-align: center;
    justify-self: center;
    position: relative;
    top: 80%;
}

.button-footer{
    background: white;
}

.btn-copy {
    background: white;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    width: 100%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-content: space-between;
    }

    .input-container{
        padding: 20px;
    }

    .output-container {
        background-image: none;
        margin: 20px;
    }
    
    .output::placeholder {
        top: 50%;
    }
}

@media (max-width: 375px) {
    main {
        flex-direction: column;
        align-content: space-between;

    }

    .buttons{
        flex-direction: column;
    }

    .btn-encrypt{
        width: 100%;
    }

    .btn-decrypt{
        width: 100%;
    }
    
    .output-container {
        background-image: none;
        margin: 20px;
    }

    .output::placeholder {
        top: 50%;
    }
}